.MuiInputBase-root {
  height: 20%;
  border: 2px solid #728096;
  border-radius: 5px;
  color: #fff;
}

.MuiInputBase-input MuiOutlinedInput-input {
  color: #fff;
}

#combo-box-demo{
  color: #fff;
}