.rs-picker-daterange-header {
    background: #292d33;
    color: #fff;
}



.rs-picker-menu .rs-calendar {
    background: #292d33;
    color: #fff;
}

.rs-picker-toolbar.rs-stack {
    background: #292d33;
    color: #fff;
}

.rs-btn-link {
display: none;
}

.rs-btn-subtle {
    color: #fff;
    color: #fff;
    background-color: transparent;
    border: none;
}

.rs-calendar-table-header-cell-content {
    display: inline-block;
    color: #fff;
    color: #fff;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.rs-calendar-table-cell-un-same-month .rs-calendar-table-cell-content, .rs-calendar-table-cell-un-same-month .rs-calendar-table-header-cell-content, .rs-calendar-table-header-cell-un-same-month .rs-calendar-table-cell-content, .rs-calendar-table-header-cell-un-same-month .rs-calendar-table-header-cell-content, .rs-calendar-table-cell-disabled .rs-calendar-table-cell-content, .rs-calendar-table-cell-disabled .rs-calendar-table-header-cell-content, .rs-calendar-table-header-cell-disabled .rs-calendar-table-cell-content, .rs-calendar-table-header-cell-disabled .rs-calendar-table-header-cell-content, .rs-calendar-table-cell-un-same-month .rs-calendar-table-cell-content:hover, .rs-calendar-table-cell-un-same-month .rs-calendar-table-header-cell-content:hover, .rs-calendar-table-header-cell-un-same-month .rs-calendar-table-cell-content:hover, .rs-calendar-table-header-cell-un-same-month .rs-calendar-table-header-cell-content:hover, .rs-calendar-table-cell-disabled .rs-calendar-table-cell-content:hover, .rs-calendar-table-cell-disabled .rs-calendar-table-header-cell-content:hover, .rs-calendar-table-header-cell-disabled .rs-calendar-table-cell-content:hover, .rs-calendar-table-header-cell-disabled .rs-calendar-table-header-cell-content:hover {
    color: #5c6066;
}

.rs-picker-default .rs-btn, .rs-picker-input .rs-btn, .rs-picker-default .rs-picker-toggle, .rs-picker-input .rs-picker-toggle {
    background-color: #2B2E3F !important;
    background-color: #2B2E3F;
    border: 1px solid #707070;
    color: #fff;
}