@import "rsuite/dist/rsuite.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212332;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Inter", monospace; */
  font-family: "Inter", sans-serif;
}

iframe {
  display: none;
}

/* .rs-picker-toggle-textbox {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-right: 32px;
  color: #fff;
  color: #fff;
  background-color: #3b405b;
  background-color: #3b405b;
  outline: none;
} */
